:root {
  --main-font: "Red Hat Display", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}
.navbar-nav {
  font-family: var(--main-font);
  line-height: 25px;
  letter-spacing: 3px;
  padding-right: 40px;
}
.navbar-brand {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 0px 60px;
  margin: 0;
}
.nav-link.dropdown-toggle,
.nav-link.active,
li {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  padding: 0;
}
.dropdown-menu.show {
  line-height: 35px;
  text-align: right;
}

.container-fluid {
  padding: 0;
  text-align: center;
}
.social-media {
  display: inline;
  padding-right: 2px;
}
.fa-linkedin {
  font-size: 20px;
  color: #1d65c3;
}
.instagram-logo {
  width: 20px;
  position: relative;
  right: -2px;
  top: -3px;
}
.fa-instagram-square {
  font-size: 20px;
  color: #7837a7;
}
.timeline {
  width: 1270px;
  display: block;
  margin: 0 auto;
  padding-top: 160px;
}
.coding-section {
  position: relative;
  padding-top: 282px;
  height: 764px;
}
.coding-section .background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 764px;
  background-image: url("../images/Web.png");
  opacity: 1;
}
.coding-section .background:hover {
  transition: all 300ms ease-in-out;
  background-image: url("../images/Web.png");
  opacity: 0.3;
}

.branding-section {
  position: relative;
  padding-top: 282px;
  height: 764px;
}
.branding-section .background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 764px;
  background-image: url("../images/Branding.png");
  opacity: 1;
}
.branding-section .background:hover {
  transition: all 300ms ease-in-out;
  background-image: url("../images/Branding.png");
  opacity: 0.3;
}

.digital-imaging-section {
  position: relative;
  padding-top: 282px;
  height: 764px;
}
.digital-imaging-section .background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 764px;
  background-image: url("../images/Digital-imaging.png");
  opacity: 1;
}
.digital-imaging-section .background:hover {
  transition: all 300ms ease-in-out;
  background-image: url("../images/Digital-imaging.png");
  opacity: 0.3;
}
.logos {
  width: 70px;
  padding: 0px 10px;
}
.logos.unilever,
.logos.ps {
  width: 55px;
}
.logos.ponds {
  width: 60px;
}
.logos.dermatix,
.logos.tahara,
.logos.pepsodent {
  width: 95px;
}
.logos.closeup {
  width: 80px;
}
h1 {
  margin-top: 210px;
  font-size: 54px;
}
h2 {
  font-size: 48px;
}
h1,
h2 {
  font-family: var(--main-font);
  font-weight: 900;
  letter-spacing: 8px;
  text-transform: uppercase;
}
h2,
h3 {
  color: black;
  position: relative;
}
h3,
h4 {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 16px;
}
h4 {
  padding-bottom: 30px;
}
p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
}
